# Next.js Server Configuration
PORT=3000
NODE_ENV=development

# Database Connection
# Use 'localhost' for local development, and the container name (e.g. 'postgres') inside Docker
DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?schema=public"

# Redis Cache connection
REDIS_URL="redis://<HOST>:<PORT>"

# NextAuth authentication config
NEXTAUTH_SECRET="<GENERATE_SECURE_SECRET_KEY>"
NEXTAUTH_URL="http://localhost:3000"

# Backup System configuration
BACKUP_DIR="./backups"
BACKUP_CRON_HOUR="0"
BACKUP_CRON_MINUTE="0"
PG_DUMP_PATH="pg_dump"
PSQL_PATH="psql"
# FORCE_JSON_BACKUP="false"
